{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}

    <div class="container mt-4 edit-user">
        <h1 class="text-center">Modifier l' utilisateur : {{ user.username }}</h1>
        <div class="form-edit-user">
            <form method="post" action="{{ path('admin.user.edit', {id: user.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr?')">
                <select class="form-control" name="roles">
                    <option>{{ choice1 }}</option>
                    <option>{{ choice2 }}</option>
                </select>
                <button class="btn btn-primary">Modifier</button>
            </form>
        </div>
    </div>
{% endblock %}
