{% extends 'base.html.twig' %}

{% block title %}Gérer les recettes{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Modifier la recette</h1>

    {{ include('admin/recipe/_form.html.twig', {form: form, button: 'Editer'}) }}

</div>
{% endblock %}


{# A METTRE DANS LE CSS POUR QU'IL LE FASSE AVANT LE CHARGEMENT DE LA PAGE #}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            //$("#leg legend:contains('0')").html("");
            $("#leg legend").css("display","none");
        })
    </script>
{% endblock %}