{% extends 'base.html.twig' %}

{% block title %}Mes {{ name }}{% endblock %}

{% block body %}

    <div class="container category">
        <h1 class="text-center">Les {{ name }}</h1> 

        {{ include('recipe/_listRecipes.html.twig') }}
        
        <div class="pagination">
            {{ knp_pagination_render(recipes) }}
        </div>
    </div>

{% endblock %}