{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

    <section>
        <img id="image-home" src="/images/recipes/home.jpg" alt="aliments sur une table" >
        <div id="div-search">
            <div id="search-recipe">
                {{ include('recipe/_searchRecipes.html.twig') }}
            </div>
        </div>
    </section>

    <section class="container mt-4">
        <h1 class="title-center">Dernières recettes ajoutées</h1>
        {{ include('recipe/_listRecipes.html.twig') }}
    </section>

{% endblock %}
