{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container mt-4">
    <p>
        Ici se trouvera un formulaire pour pour se connecter pour accéder à la partie ADMIN (ajout, suppression et modification de recette) :-O !!!
    </p>
</div>
{% endblock %}
