{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container container-search">
            {{ include('recipe/_searchRecipes.html.twig') }}
        </div>
    </div>

    <div class="container recipes">
        {% if not recipes.items %}
            <p class="text-center mt-4">Il n'y a pas de recette qui correspond à votre recherche</p>
        {% else %}
            <h1 class="text-center">Recette{% if recipes.items| length > 1 %}s{% endif %}</h1>
            {{ include('recipe/_listRecipes.html.twig') }}
        {% endif %}

        <div class="pagination">
            {{ knp_pagination_render(recipes) }}
        </div>
    </div>
    
{% endblock %}
