{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

<div class="container mt-4">
    <p>
        Ici se trouvera un formulaire pour rechercher en fonction des ingrédients ou nom de recettes :-) !!!
    </p>
</div>
{% endblock %}
